*{
    padding: 0;
    margin: 0;
    background-color: bisque;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
.container{
    width: 100%;
    
}
p{
    font-size: 30px;
    
}
.A{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid red;
    margin: 10px 0 ;    
}
.B{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid orange;
    margin: 30px 0 ;
    
}
.C{
    width: 100%;
    padding: 20px 10px;
    border-radius: 20px;
    border: 2px solid #cc6600;
    margin: 30px 0 ;
    padding-bottom: 5px;
    
}
.D{
    width: 100%;
    
}
.logo{
    margin: 0px 780px;
    height: 160px;
    width: 400px;
}